<h1>Projects</h1>
<div class="row">
    {{#if (or authorization.is_current_coordinator (or (eq authorization.role "faculty_advisor") (eq authorization.role "sysadmin")))}}
        <div class="col-12 col-md-3">
            <a href="/project/create" class="float-right btn btn-success">Create Project</a>
        </div>
    {{/if}}
</div>
<div class="g-4 justify-content-center row row-cols-xl-3 row-cols-md-2 row-cols-1">
    {{#each projects}}
        <div class="col">
            {{> projects/card this}}
        </div>
    {{else}}
        {{! No meetings -- display a message }}
        <div class="justify-content-center">
            Could not find any projects matching these parameters.
        </div>
    {{/each}}
</div>
