<div class="card text-dark">
    <h1 class="card-header">
        Create Account
    </h1>
    <div class="card-body">
        <form method="post">
            <div class="row">
                <label for="email" class="col-md-2 col-form-label">
                    Email
                </label>
                <div class="col-md-10">
                    {{invite.email}}
                </div>
            </div>
            {{> name.handlebars_file name}}
            {{> forms/common/text_field password}}
            {{> forms/common/text_field confirm_password}}
            <div class="form-group d-block float-right">
                <button class="btn btn-success btn-spinner" type="submit">
                    Create account
                </button>
            </div>
        </form>
    </div>
</div>