<div class="container-md mt-3" role="main">
	<div class="row .bg-secondary mb-3 p-2">
		<div class="col-sm-8">
			<h3 class="mt-3">Developers</h3>
		</div>
		<div class="col-sm-4">
			<form class="form-inline mt-3 float-right">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-rcos" type="submit">Search</button>
			</form>
		</div>
	</div>

	<!--
        The way these cards are setup is temporary. They're only here to show generally what we want the page to look like.
        That is, we want to call a {#each} {developer} {/each} loop that showcases developer avatars in the way that it currently looks.
    -->
	<div class="card-deck mb-3">
	  	<div class="card shadow-sm">
		    <img class="card-img-top" src="https://www.gravatar.com/avatar/92061e4c905947629e2ea9e74d78aca6?d=identicon&s=256px" alt="Developer Image">
		    <div class="card-body text-center">
			    <a class="card-text" href="/">Antonia "Nia" Calia-Bogan </a>
	    	</div>
	  	</div>
	  	<div class="card shadow-sm">
		    <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQGhrH4DcMk2gA/profile-displayphoto-shrink_400_400/0?e=1603324800&v=beta&t=COyVkGFHIP7udqtFEdl8feiOrZ_c7hQNZuoIx5Z_kr8" alt="Developer Image">
		    <div class="card-body text-center">
			    <a class="card-text" href="/">Patrick Berne</a>
	    	</div>
	  	</div>
	  	<div class="card shadow-sm">
		    <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQG5oaZ2R3cYuQ/profile-displayphoto-shrink_400_400/0?e=1603324800&v=beta&t=WYX5xiy_xV0xK_YUYapPa_ZeUli49RSLKC9RXRVTN2M" alt="Developer Image">
		    <div class="card-body text-center">
			    <a class="card-textr" href="/">Steven vanZyl</a>
	    	</div>
	  	</div><div class="card shadow-sm">
		    <img class="card-img-top" src="https://www.gravatar.com/avatar/611908bca111a8015e1df8e1ee12e2c8?d=identicon&s=256px" alt="Developer Image">
		    <div class="card-body text-center">
			    <a class="card-text" href="/">Wes Turner</a>
	    	</div>
	  	</div><div class="card shadow-sm">
		    <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQGhrH4DcMk2gA/profile-displayphoto-shrink_400_400/0?e=1603324800&v=beta&t=COyVkGFHIP7udqtFEdl8feiOrZ_c7hQNZuoIx5Z_kr8" alt="Developer Image">
		    <div class="card-body text-center">
			    <a class="card-text" href="/">Patrick Again</a>
	    	</div>
	  	</div><div class="card shadow-sm">
		    <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQGhrH4DcMk2gA/profile-displayphoto-shrink_400_400/0?e=1603324800&v=beta&t=COyVkGFHIP7udqtFEdl8feiOrZ_c7hQNZuoIx5Z_kr8" alt="Developer Image">
		    <div class="card-body text-center">
			    <a class="card-text" href="/">Patrick 3: (Electric Booglaoo)^2</a>
	    	</div>
	  	</div>
</div>