<div class="container-md mt-3" role="main">
    <div class="card bg-light text-dark mb-3 mw-100 p-2">
        <div class="row no-gutters">
            <div class="col-4">
                <img class="card-img my-auto d-block" src="/static/rcos-banner.webp" alt="RCOS banner">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">
                        Mission Statement
                    </h5>
                    <p class="card-text">
                        Our Mission is to cultivate an inclusive, creative, and entrepreneurial
                        community that seeks to empower students to develop open-source
                        solutions to real-world problems.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="card-deck mb-3">
        <div class="card bg-light text-dark">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Developers
                </h3>
                <p class="card-text">
                    We are a group of passionate open source developers at RPI.
                </p>
                <a role="button" class="btn-rcos btn" href="/developers">
                    View Developers
                </a>
            </div>
        </div>
        <div class="card bg-light text-dark">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Projects
                </h3>
                <p class="card-text">
                    We work on a bunch of awesome open source projects.
                </p>
                <a role="button" class="btn btn-rcos" href="/projects">
                    View Projects
                </a>
            </div>
        </div>
        <div class="card bg-light text-dark">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Sponsors
                </h3>
                <p class="card-text">
                    Many thanks to our sponsors, who can be viewed here:
                </p>
                <a type="button" class="btn btn-rcos" href="/sponsors">
                    View Sponsors
                </a>
            </div>
        </div>
    </section>

    <section class="card-deck mb-3">
        <div class="card bg-light text-dark">
            <div class="card-body text-center">
                <h4 class="card-title">
                    Mattermost
                </h4>
                <p class="card-text">
                    We use Mattermost to communicate about projects, meetings, and
                    other RCOS related events.
                </p>
                <a type="button" class="btn btn-rcos" href="https://chat.rcos.io">
                    RCOS Mattermost
                </a>
            </div>
        </div>
    </section>
</div>