<div class="container-md mt-3" role="main">
    <div class="card bg-light text-dark mb-3 mw-100 p-2">
        <div class="row no-gutters">
            <div class="col-4">
                <img class="card-img my-auto d-block" src="/static/rcos-banner.webp" alt="RCOS banner">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">
                        Mission Statement
                    </h5>
                    <p class="card-text">
                        Our Mission is to cultivate an inclusive, creative, and entrepreneurial
                        community that seeks to empower students to develop open-source
                        solutions to real-world problems.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="card-deck mx-auto" style="max-width: 1130px; margin-bottom:35px">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <h3 class="card-title text-center">Developers</h3>
                <p class="card-text text-center">
                    We are a group of passionate open source developers at RPI.
                </p>
                <div class="text-center">
                    <a role="button" class="btn" href="/developers" style="color:white; background-color:#ff1a1a;">
                        View Developers
                    </a>
                </div>
            </div>
        </div>
        <div class="card" style="background-color:#f2f2f2; border:none;">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">Projects</h3>
                <p class="card-text" style="text-align: center">
                    We work on a bunch of awesome open source projects.
                </p>
                <div style="text-align:center">
                    <a role="button" class="btn" href="/projects" style="color:white; background-color:#ff1a1a;">
                        View Projects
                    </a>
                </div>
            </div>
        </div>
        <div class="card" style="background-color:#f2f2f2; border:none;">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">Sponsors</h3>
                <p class="card-text" style="text-align: center">
                    Many thanks to our sponsors, who can be viewed here:
                </p>
                <div style="text-align:center">
                    <a type="button" class="btn" href="/sponsors" style="color:white; background-color:#ff1a1a;">
                        View Sponsors
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="card-deck mx-auto" style="max-width: 1130px;">
        <div class="card border-secondary mb-3">
            <div class="card-header"><h4>Mattermost</h4></div>
            <div class="card-body">
                <p class="card-text">
                    Come talk with us and keep up with important announcements
                    in the official RCOS Mattermost.
                </p>
                <a class="card-link stretched-link" href="https://chat.rcos.io" style="color:dodgerblue">chat.rcos.io</a>
            </div>
        </div>
        <div class="card border-secondary mb-3">
            <div class="card-header"><h4>Wiki</h4></div>
            <div class="card-body">
                <p class="card-text">
                    The official RCOS wiki full of the knowledge of our members.
                    Add what you know to help others!
                </p>
                <!-- This URL needs to be updated when the wiki moves -->
                <a class="card-link stretched-link" href="https://rcos-wiki.cs.rpi.edu" style="color:dodgerblue">rcos-wiki.cs.rpi.edu</a>
            </div>
        </div>
    </section>
</div>