<div class="mt-3" role="main">
    <div class="mb-3 p-2 pl-3">
        <h2 class="mt-3">
            Sponsors
        </h2>
        <span class="text-muted">
            These groups have been kind enough to sponsor RCOS and open source
            development at RPI.
        </span>
    </div>

    <!-- The sponsor blurbs probably need to be updated -->
    <div class="card-columns text-dark">
        <div class="card p-4 shadow-sm">
            <img src="/static/sponsors/red-hat.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">RedHat</h4>
                <p class="card-text">
                    RedHat has funded student projects and learning workshops, including Introduction to Open Source
                    Software.
                </p>
                <a href="https://redhat.com/about" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card p-4 shadow-sm">
            <img src="/static/sponsors/mozilla.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Mozilla</h4>
                <p class="card-text">
                    Helped with leadership program for mentors.
                </p>
                <a href="https://mozilla.org" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card p-4 shadow-sm">
            <img src="/static/sponsors/google.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Google</h4>
                <p class="card-text">
                    Donated MAGPis and Cardboard VR.
                </p>
                <a href="https://about.google" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card p-4 shadow-sm">
            <img src="/static/sponsors/osi.webp" class="card-img-top" alt="Open Source Initiative Logo">
            <div class="card-body">
                <h4 class="card-title">Open Source Initiative</h4>
                <p class="card-text">
                    Educational Institution Member that has provided opportunities for students.
                </p>
                <a href="https://opensource.org" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card p-4 shadow-sm">
            <img src="/static/sponsors/hfoss.webp" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">NSF HFOSS</h4>
                <p class="card-text">
                    Affliated member with Trinity, Connecticut College and Wesleyan University
                </p>
                <a href="http://hfoss.org" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card p-4 shadow-sm">
            <img src="/static/sponsors/microsoft.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Microsoft</h4>
                <p class="card-text">
                    Partially Funded Student projects through the Microsoft employee program.
                </p>
                <a href="https://microsoft.com/about" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
    </div>

    <small class="text-muted">
        ©2018 Google LLC All rights reserved. Google and the Google logo are registered trademarks of Google LLC.<br>
        The Mozilla logo is a trademark of the Mozilla Foundation in the U.S. and other countries.<br>
        Copyright © 2020 Red Hat, Inc. Red Hat, and the Red Hat logo are trademarks or registered trademarks of Red Hat, Inc. or its subsidiaries
        in the United States and other countries. All other trademarks are the property of their respective owners.<br>
        Copyright © Microsoft 2020.<br>
        The OSI logo trademark is the trademark of Open Source Initiative.<br>

    </small>
</div>