<div class="w3-container w3-mobile w3-theme">
    <div class="w3-cell-row w3-mobile">
        <a href="https://www.mozilla.org/en-US/foundation/">
            <img class="w3-cell w3-mobile w3-image"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Mozilla_logo.svg/2000px-Mozilla_logo.svg.png"
                 alt="Mozilla logo"
            >
        </a>
    </div>
</div>

