# Used by DbMate (see https://github.com/amacneil/dbmate)
DATABASE_URL=postgres://USERNAME:EXAMPLE_POSTGRES_PASSWORD@localhost/postgres?sslmode=disable

# Used by PostgREST to expose API. This URI should match the one above.
# The secrete has to be 32 characters long (or more) otherwise PostgREST will
# fail silently.
PGRST_DB_URI=postgres://USERNAME:EXAMPLE_POSTGRES_PASSWORD@localhost?sslmode=disable
PGRST_JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

# Used by docker. Replace in your version. Should match the password above.
POSTGRES_PASSWORD=EXAMPLE_POSTGRES_PASSWORD
