.idea/
target/
**/.DS_Store/

# .env is to store development env variables.
.env

# user config
config.toml

# The Clion GraphQL Plugin config file in the GraphQL folder may contain
# secrets, and should be ignored.
graphql/rcos/.graphqlconfig
graphql/rcos/schema.graphql
graphql/github/schema.graphql
graphql/github/.graphqlconfig