.idea/
target/
tls-ssl/*.pem

# .env is to store development env variables.
.env

# user config
config.toml

# The Clion GraphQL Plugin config file in the GraphQL folder may contain
# secrets, and should be ignored.
graphql/.graphqlconfig
graphql/schema.graphql
