{{! Semester creation template }}

<h1>Create Semester Record</h1>

<form>
    <div class="form-group row">
        <label for="id-input" class="col-sm-2 col-form-label">
            Semester ID:
        </label>
        <div class="col-sm-10">
            <input id="id-input" type="text" name="id" aria-describedby="id-help" required>

            <small id="id-help" class="form-text text-muted">
                This should be the 6 digit semester code from the registrar. "202101" for example.
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="title-input">
            Title
        </label>

        <div class="col-sm-10">
            <input name="title" id="title-input" type="text" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-auto">
            <label for="start-input">Start:</label>
            <input type="date" name="start" id="start-input" required>
        </div>

        <div class="col-auto">
            <label for="end-input">End:</label>
            <input type="date" name="end" id="end-input" required>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
