{{#if success}}
{{else}}
    <div class="card text-dark">
        <h1 class="card-header">
            Forgot Password
        </h1>
        <div class="card-body">
            <form method="post">
                {{> forms/common/email email_field}}
                <div class="form-group d-block float-right">
                    <button class="btn btn-primary btn-spinner" type="submit">
                        Send Email
                    </button>
                </div>
            </form>
        </div>
    </div>
{{/if}}
