<div class="card text-dark">
    <h1 class="card-header">
        Login
    </h1>
    <div class="card-body">
        <form method="post">
            {{> forms/common/text_field email}}
            {{> forms/common/text_field password}}
            <div class="form-group d-block float-right">
                <a class="btn btn-secondary mx-2" role="button" href="/forgot">Forgot Password</a>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

