<div class="card text-dark">
    <h1 class="card-header">
        Create Account
    </h1>
    <div class="card-body">
        <form method="post">

            <div class="form-group d-block float-right">
                {{> forms/common/submit_button submit_button}}
            </div>
        </form>
    </div>
</div>
