{{! Admin panel -- currently just link to manage semester data }}

<div class="row">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card text-dark">
            <div class="card-header">
                <h2 class="card-title m-0">Semester Records</h2>
            </div>
            <div class="card-body">
                Create and edit semester records. View and export semester stats.
            </div>
            <a class="btn btn-primary w-100" href="/admin/semesters">Manage</a>
        </div>
    </div>
</div>
