<a href="{{location}}"
   class="{{#if right}}w3-right{{/if}} w3-bar-item w3-button w3-mobile {{#if focus}}w3-metro-red w3-hover-white{{else}}w3-theme w3-hover-text-red w3-hover-black{{/if}}"
   {{#if is_root}}style="font-weight:bold;"{{/if}}>
    {{text}}
</a>