<div id="{{id}}-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="modal-header">
                {{text}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{{inner}}}
    </div>
</div>
