<nav class="navbar navbar-dark sticky-top">
    <a class="navbar-brand" href="#">RCOS</a>
    <div id="navbar" class="collapse navbar-collapse">
        {{#each items}}
            {{{this.navbar_inner}}}
        {{/each}}
    </div>
</nav>
{{#each items}}
    {{{this.body_inner}}}
{{/each}}
