<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img src="/static/icons/rcos-branding/img/logo-square-red.png" style="height: 32px;" alt="RCOS Logo">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            {{#each left_items}}
                {{> navbar/item this}}
            {{/each}}
        </ul>
        <ul class="navbar-nav">
            {{! Handbook link should be available to all users }}
            <li class="nav-item">
                <a href="https://handbook.rcos.io" class="btn btn-outline-info mr-2 mb-2" target="_blank" rel="noreferrer noopener">
                    Handbook <i data-feather="external-link"></i>
                </a>
            </li>
            
            {{#each right_items}}
                {{> navbar/item this}}
            {{/each}}
        </ul>
    </nav>
</nav>