<!--
We're using W3 for the navbar at the moment until we can switch it over to Bootstrap.
See https://www.w3schools.com/w3css/default.asp for details.
-->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
<script src="https://www.w3schools.com/lib/w3codecolor.js" type="application/javascript"></script>

<nav class="w3-container w3-bar w3-theme w3-mobile">
    {{#each items}}
        {{{this.navbar_inner}}}
    {{/each}}
</nav>
{{#each items}}
    {{{this.body_inner}}}
{{/each}}
