
<form method="post" action="/login">
    <div class="modal-body">
        <label>
            <b>Username</b>
            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Username" name="user" required>
        </label>
        <label>
            <b>Password</b>
            <input class="w3-input w3-border" type="password" placeholder="Password" name="pass" required>
        </label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" checked="checked" name="save">
            <label class="form-check-label">Remember Me</label>
        </div>
    </div>
    <div class="modal-footer">

    </div>
    <div class="w3-section">

        <div class="w3-container">
            <a class="w3-left w3-button w3-light-gray" href="/forgot-pass">Forgot password</a>
            <div class="w3-padding w3-border-0 w3-right">
                <button class="w3-button w3-green w3-hover-white w3-hover-text-green" type="submit">Login</button>
            </div>
        </div>
    </div>
</form>
