
<form method="post" action="/register">
    <div class="modal-body">
        <div class="form-group">
            <label for="register-modal-email-input">Email Address</label>
            <input
                    type="email"
                    class="form-control"
                    placeholder="example@email.org"
                    id="register-modal-email-input"
                    name="email"
                    required>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
</form>
