<h1>RCOS Meetings</h1>

<div class="row">
    {{! Form for users to filter events to a certain range }}
    <form method="get" class="form-inline col-12 col-md-9">
        <label class="sr-only" for="start-input">Start Date</label>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    From
                </div>
            </div>
            <input id="start-input" type="date" name="start" class="form-control" {{#if query.start}} value="{{query.start}}" {{/if}} required>
        </div>

        <label class="sr-only" for="end-input">End Date</label>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    To
                </div>
            </div>

            <input id="end-input" type="date" name="end" class="form-control" {{#if query.end}} value="{{query.end}}" {{/if}} required>
        </div>

        <button type="submit" class="btn btn-primary mb-2">View</button>
    </form>

    {{#if (or authorization.is_current_coordinator (eq authorization.role "faculty_advisor") (eq authorization.role "sysadmin"))}}
        <div class="col-12 col-md-3">
            <a href="/meeting/create/host_selection" class="float-right btn btn-success">Create Meeting</a>
        </div>
    {{/if}}
</div>

{{#each meetings}}
    {{> meetings/card this}}
{{else}}
    {{! No meetings -- display a message }}
    <div class="justify-content-center">
        Could not find any meetings matching these parameters.
    </div>
{{/each}}
