{
    email rcos.management@gmail.com
}

rcos.io {
    encode zstd gzip
    
    reverse_proxy telescope:80
}

api.rcos.io {
    encode zstd gzip
    log { output discard }

    reverse_proxy postgrest:3000
}

wiki.rcos.io {
    encode zstd gzip
    log { output discard }

    reverse_proxy wikijs:3000
}

gql.rcos.io {
    encode zstd gzip
    log { output discard }

    reverse_proxy hasura:8080
}

telescope.rcos.io, www.rcos.io {
    redir https://rcos.io permenant 
}
