{
    email rcos.management@gmail.com
}

rcos.io, www.rcos.io {
    encode zstd gzip
    log { output discard }

    # TODO Observatory/Telescope
    respond "Hello, world!"
}

api.rcos.io {
    encode zstd gzip
    log { output discard }

    reverse_proxy postgrest:3000
}

wiki.rcos.io {
    encode zstd gzip
    log { output discard }

    reverse_proxy wikijs:3000
}

gql.rcos.io {
    encode zstd gzip
    log { output discard }

    reverse_proxy hasura:8080
}
