<div id="calendar"></div>
{{!
JS to render calendar.
Taken roughly from https://github.com/rcos/rcos-handbook/blob/master/docs/meetings/calendar.md
}}
<script>
    const calendarEl = document.getElementById("calendar");

    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        themeSystem: 'bootstrap',
        timeZone: 'America/New_York',
        weekends: true,
        events: "/calendar/events",
        {{! Function called when event is rendered to DOM }}
        eventDidMount ({ event, el }) {
            {{! Extract the source object from the API }}
            const { source } = event.extendedProps;
        }
    });

    calendar.render();
</script>
