<div id="calendar"></div>

{{! JS to render calendar}}
<script>
    const calendarEl = document.getElementById("calendar");

    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        themeSystem: 'bootstrap',
        timeZone: 'America/New_York',
        weekends: true,
        events: function (info, successCallback, failureCallback) {
            fetch('/calendar/events')
                .then(res => res.json())
                .then(meetings => successCallback(meetings))
                .catch(failureCallback)
        },
    });

    calendar.render();
</script>
