<body>
    <img src="/static/lockup-red.webp">
        <div style="margin-left:80px; margin-right:80px; margin-bottom:20px;">
            <h2>About</h2>
            <p>
                Our Mission is to cultivate an inclusive, creative, and entrepreneurial
                community that seeks to empower students to develop open-source
                solutions to real-world problems. 
            </p>
        </div>
    </div>
</body>