<div class="row justify-content-center no-gutters">
    <div class="card col-sm-10 col-md-8 col-lg-6 col-xl-4 text-dark">
        <div class="card-header">
            <h1> Sign in </h1>
        </div>
        <div class="card-body">
            <a href="/login/github" class="btn btn-github w-100 mb-2" role="button">
                Sign in with GitHub <i data-feather="github"></i>
            </a>
            <a href="/login/rpi_cas" class="btn btn-rpi w-100" role="button">
                Sign in using RPI CAS
            </a>
        </div>
    </div>
</div>