<div class="card m-auto w-50 text-dark">
    <div class="card-header">
        <h1> Sign in </h1>
    </div>
    <div class="card-body">
        <ul>
            <a href="https://github.com" class="btn btn-primary w-100">
                Sign in with GitHub <i data-feather="github"></i>
            </a>
        </ul>

    </div>
</div>