<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Rensselaer Center for Open Source" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://rcos.io/" />
        <meta property="og:description" content="The Rensselaer Center for Open Source - or RCOS (ar-kos) for short - is a community of motivated students at Rensselaer Polytechnic Institute who develop open source projects under the guidance of experienced instructors and student mentors." />
        <meta property="og:image" content="https://rcos.io/static/icons/rcos-branding/img/logo-square-red.png" />
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" href="/static/styles/base.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="/static/icons/rcos-branding/img/logo-circle-red.png">

        {{! Bootstrap CSS }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

        {{! Bootstrap JS, Popper.js, and jQuery }}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

        {{! Feather icons }}
        <script defer src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

        <!-- Custom JavaScript -->
        <script src="/static/scripts/script.js"></script>
    </head>
    <body class="bg-dark text-light d-flex flex-column min-vh-100">
        <header>
            {{> navbar/navbar this.navbar}}
        </header>
        <div class="container px-1 align-items-center mb-2">
            {{{ content }}}
        </div>

        <footer class="footer text-center mt-auto py-3 bg-light text-dark">
            {{! Telescope logo }}
            <img src="/static/icons/telescope/v3-black.png"
                 alt="Telescope icon"
                 style="width:48px;height:48px;">
            <br>

            {{! Link to GitHub }}
            <a href="https://github.com/rcos/Telescope/">Telescope</a> {{version}}
            <br>

            {{! Issue tracker }}
            <a href="https://github.com/rcos/Telescope/issues/new/choose">
                Report an issue
            </a> |

            {{! Link rust docs }}
            <a href="/static/internal_docs/telescope/index.html" target="_blank" rel="noreferrer noopener">
                Docs for devs
                <i data-feather="external-link" style="height: 1em; width: auto;"></i>
            </a>
        </footer>
    </body>
</html>
