<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{page_title}}
        </title>
        <link rel="stylesheet" href="static/styles/base.css" type="text/css">
        <link rel="icon" type="image/png" href="static/favicon.png">

        <!--
        Use W3.CSS for styling and elements. This makes a lot of stuff much easier.
        See https://www.w3schools.com/w3css/default.asp for details.

        We currently only support dark theme. We will add more options in the future.

        We also import flat and metro colors sets.

        We also get the W3 code color js library to do code highlighting for a few languages.
        -->
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css"> -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
        <script src="https://www.w3schools.com/lib/w3codecolor.js" type="application/javascript"></script>

        <!-- Adding some additional styles from BootStrap
        -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

        <!--
        Use Material Icons via css.
        See https://material.io/resources/icons/?style=baseline.
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <!--
        Use font-awesome icons through CSS include.
        See https://fontawesome.com/v4.7.0/icons/.
        -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
    </head>

    <body>
        {{{navbar}}}
        {{{page_body}}}
        <img src="/static/lockup-red.webp">
            <div style="margin-left:80px; margin-right:80px; margin-bottom:20px;">
                <h2>About</h2>
                <p>
                    Our Mission is to cultivate an inclusive, creative, and entrepreneurial
                    community that seeks to empower students to develop open-source
                    solutions to real-world problems. 
                </p>
            </div>
        </div>
    </body>

    <footer>
        <div>
            Sponsor logos By Source, Fair Use courtesy of WikiPedia
        </div>
        <div>
            Created by RCOS developers, for RCOS developers.
            <a href="https://github.com/rcos/Telescope/" style="color: dodgerblue">
                Come see us on Github!
            </a>
        </div>
    </footer>
</html>