<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{page_title}}
        </title>
        <link rel="stylesheet" href="static/styles/base.css" type="text/css">
        <link rel="icon" type="image/png" href="static/favicon.png">

        <!--
        Use W3.CSS for styling and elements. This makes a lot of stuff much easier.
        See https://www.w3schools.com/w3css/default.asp for details.
        -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!--
        Use Material Icons via css.
        See https://material.io/resources/icons/?style=baseline.
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <!--
        Use font-awesome icons through CSS include.
        See https://fontawesome.com/v4.7.0/icons/.
        -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">

    </head>
    <body>
        {{{page_body}}}
    </body>
</html>