<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{page_title}}
        </title>
        <link rel="stylesheet" href="static/styles/base.css" type="text/css">
        <link rel="icon" type="image/png" href="static/favicon.png">

        <!--
        Use Bootstrap CSS for styling and elements. This makes a lot of stuff much easier.
        See https://getbootstrap.com/docs/3.3/css/ for details
        -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

        <!--
        Use Material Icons via css.
        See https://material.io/resources/icons/?style=baseline.
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <!--
        Use font-awesome icons through CSS include.
        See https://fontawesome.com/v4.7.0/icons/.
        -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
    </head>

    <body style="background-color: #f2f2f2">
        {{{navbar}}}
        {{{page_body}}}
    </body>

    <footer class="footer text-center mt-auto py-3">
        <div class="container">
            <p>Telescope | An RCOS Project | Version: <code>???</code></p>
        </div>
        <div class="container">
            Created by RCOS developers, for RCOS developers.
            <a href="https://github.com/rcos/Telescope/" style="color: dodgerblue">
                Come see us on Github!
            </a>
        </div>
    </footer>
</html>