<div class="container-md" role="main">
    <div class="card text-dark">
        <div class="row no-gutters">
            <div class="col-md-3 mr-3">
                <img src="{{{picture}}}" alt="Profile Picture" class="card-img">
            </div>
            <div class="col-md-8 mt-1">
                <h2> {{name}} </h2>
                <div class="card-text">
                    <h5 class="text-muted">Bio</h5>
                    {{{bio}}}
                </div>
            </div>
        </div>
    </div>
</div>