<div class="container-md" role="main">
    <div class="card text-dark">
        <div class="row no-gutters">
            <div class="col-md-2 pr-2">
                <img src="{{{picture}}}" alt="Profile Picture" class="card-img">
            </div>
            <div class="col-md-10 mt-1">
                <div class="card-header">
                    <span class="font-italic h2" id="profile-name"> {{name}} </span>
                    {{#if editable}}
                        <!-- Button to trigger modal -->
                        <button type="button" class="btn btn-primary float-right">
                            Change Name
                        </button>
                        <!-- Modal -->
                        <div
                                class="modal fade"
                                aria-hidden="true"
                                id="profile-name-change-modal"
                                tabindex="-1"
                                aria-labelledby="profile-name-change-modal-title"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="profile-name-change-modal-title">
                                            Change Name
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
                <div class="card-body">
                    <h5 class="text-muted">Bio</h5>
                    <div class="card-text">
                        {{{bio}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>