:root {
    /* Branding colors */
    --rcos-red: #ff1a1a;
    --telescope-red: #dd2020;
    --rpi-red: #d6001c;
    --github-blue: #0366d6;
    --discord-blurple: #7289da;
    --discord-white: #ffffff;
    --discord-greyple: #99aab5;
    --discord-dark: #2c2f33;
    --discord-darker: #23272a;
    --discord-black: #000000;

    /* Meeting Colors */
    --meeting-large_group-bg: #ff4c3e;
    --meeting-large_group-text: var(--light);
    --meeting-small_group-bg: dodgerblue;
    --meeting-small_group-text: var(--dark);
    --meeting-presentations-bg: forestgreen;
    --meeting-presentations-text: var(--light);
    --meeting-bonus_session-bg: #eeba32;
    --meeting-bonus_session-text: var(--dark);
    --meeting-grading-bg: firebrick;
    --meeting-grading-text: var(--light);
    --meeting-mentors-bg: indigo;
    --meeting-mentors-text: var(--light);
    --meeting-coordinators-bg: orchid;
    --meeting-coordinators-text: var(--dark);
    --meeting-other-bg: black;
    --meeting-other-text: var(--light);
}

/*
RCOS themed buttons.
*/
.btn.btn-rcos {
    background: var(--rcos-red);
    color: white;
}

/*
GitHub themed buttons.
 */
.btn.btn-github {
    background: var(--github-blue);
    color: white;
}

/*
RPI styled buttons.
 */

.btn.btn-rpi {
    background: var(--rpi-red);
    color: white;
}

.btn.btn-discord {
    background: var(--discord-blurple);
    color: white;
}

.btn.btn-discord:hover {
    color: var(--discord-black);
}
/*
Below is a set of rules to keep the footer at the bottom of the page.
*/
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: relative;
    width: 100%;
    top: 0;
}

/*
A special type of button which displays a loading spinner (and disables)
on click. This doesn't have much style to it. It is just modified via jQuery
at the moment.
*/
.btn-spinner {}
