{{#if success}}
    <div class="card bg-success">
        <h1 class="card-header">
            Email Sent
        </h1>
        <div class="card-body">
            We sent an email with a link to reset your password. Check your
            spam folder if you do not see it in your inbox.
        </div>
    </div>
{{else}}
    <div class="card text-dark">
        <h1 class="card-header">
            Forgot Password
        </h1>
        <div class="card-body">
            <form method="post">
                {{> forms/common/text_field email_field}}
                <div class="form-group d-block float-right">
                    <button class="btn btn-primary btn-spinner" type="submit">
                        Send Email
                    </button>
                </div>
            </form>
        </div>
    </div>
{{/if}}
