<h1>Developers</h1>

{{! Form to filter users }}
<form method="get" class="mb-2">
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i data-feather="search"></i>
            </div>
        </div>
        <input type="text" name="search" class="form-control" placeholder="Search..." aria-label="Search">
    </div>

    <div class="form-check mr-2">
        <input class="form-check-input" type="checkbox" name="include_old" id="include-old">
        <label for="include-old" class="form-check-label">
            Include previous members
        </label>
    </div>

    <button class="btn btn-primary" type="submit">View</button>
</form>

{{!--
<div class="row row-cols-lg-5 row-cols-sm-1 row-cols-md-3">
    {{#each users}}
        <div class="col p-2">
            <a class="card h-100 text-dark" href="/profile/{{username}}">
                <img src="{{pfp}}" alt="Profile Picture" class="card-img-top">
                <div class="card-body card-text">
                    <div class="card-title text-center h5">
                        {{fist_name}} {{last_name}}
                    </div>
                </div>
            </a>
        </div>
    {{/each}}
</div>
--}}
