{{! User settings form. Users can change their name and role here }}

<div class="row justify-content-center no-gutters">
    <div class="text-dark card col-sm-11 col-md-8 col-lg-7 col-xl-5">
        <div class="card-header">
            <h1>Edit Profile</h1>
        </div>

        <div class="card-body">
            <form method="post">

            </form>
        </div>
    </div>
</div>
